@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

html,
body {
  overscroll-behavior: contain;
  position: relative;
}

/* Your own custom utilities */
* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

.sidebar {
  width: 320px;
  height: calc(100vh);
  overflow: hidden;
}

.sidebar.hidden {
  display: block;
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
}

@media (min-width: 1440px) {
  .sidebar.hidden {
    transform: translateX(0); /* alwasy showing */
  }
}

.sidebar.block {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sidebar .pane {
  width: 100%;
}

.sidebar[data-active-level="0"] .pane[data-level="0"] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sidebar[data-active-level="0"] .pane[data-level="1"] {
  transform: translateX(320px);
  -webkit-transform: translatex(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
}

.sidebar[data-active-level="1"] .pane[data-level="0"] {
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
}

.sidebar[data-active-level="1"] .pane[data-level="1"] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sidebar__inner {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 45px);
  padding-bottom: 80px; /* 80px is the bottom portion that mobile browsers often crop */
}

@media (min-width: 1440px) {
  .toolbar {
    margin-left: 320px;
    width: calc(100% - 320px);
  }
  .toolbar-left {
    display: none;
  }
  .mainbar {
    margin-left: 320px;
    width: calc(100% - 320px);
  }
}

.edit-modal--hidden {
  transform: translateY(100vh);
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  -o-transform: translateY(100vh);
}

.edit-modal--block {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

/*** lds spinner ***/
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-spinner div {
  transform-origin: 15px 15px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 15px;
  width: 2px;
  height: 8px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
